@import url('https://fonts.googleapis.com/css?family=Marcellus');
@import url('https://fonts.googleapis.com/css?family=Abel');

body, html{
  background-color: #787878;
  margin: 0 auto;
}
.App {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.align-left {
  text-align: left;
}
.align-center {
  margin: 0 auto;
  text-align: center;
}
a {
  color: #840d00;
  text-decoration: none;
  font-size: 16px;
}
/* ============================ HEADER  ============================ */

header {
  background-color: #840d00;
  width: 100vw;
  min-width: 100%;
  height: 243px;
  color: black;
  flex-wrap: wrap;
  font-family: 'Marcellus', serif;
}
header img.logo {
  align-items: center;
  min-width: 120px;
  max-width: 350px;
  max-height: 250px;
  align-items: center;
  justify-content: center;
}
header nav {
    display: flex;
  flex-direction: row;
  width: 96%;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
header nav li {
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
  list-style: none;
  font-size: 20px;
  align-items: center;
  text-align: center;
  border-top: 3px solid;
  border-bottom: 3px solid;
  height: 40px;
    padding-top: 17px;
    margin-top: 96px;
}
header nav button,
header nav li a {
  font-family: 'Marcellus', serif;
    text-transform: uppercase;
  background-color: transparent;
  color: black;
  font-size: 1em;
  font-weight: 500;
  padding: 0.15em;
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s ease;
  outline: 0px solid transparent;
  border: 0px solid transparent;
  text-decoration: none;

}
header nav button:hover,
header nav li a:hover {
  color: #450700;
}

header .border-bottom {
  display: flex;
  flex-direction: row;
  height: 15px;
  background-color: black;
  justify-content: flex-end;
  padding: 0.6em;
  margin-top: -30px;
}


header .border-bottom button#add-event {
  border-radius: 10px;
  background-color: #252525;
  align-content: flex-end;
  box-sizing: content-box;
  color: #FFF;
  font-size: 14px;
  border: 2px solid black;
  padding: 0.5em;
}

header .border-bottom a {
  border-radius: 10px;
  background-color: #252525;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #FFF;
  font-size: 18px;
  border: 1px solid black;
  padding: 0.68em;
  text-decoration: none;
  margin-right: 1em;
}


/* ============================ AUTH FORM JACKIE ============================ */


.auth-form, .content{
  width: 100vw;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  /*background-color: #FFF;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*
h2{
  font-weight: 300;
  font-size: 2em;
  margin: 10px 0;
}*/

.auth-form form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

label{
  text-align: left;
  margin: 16px 0 5px;
}

input{
  padding: 8px 0;
  border: 0px solid transparent;
  border-bottom: 1px solid #333;
  font-size: 1em;
  outline: 0px solid transparent;
}

.form-buttons{
  margin: 30px 0 16px;
  text-align: right;
}

button{
  background-color: transparent;
  color: #840d00;
  font-size: 1.2em;
  border: 2px solid transparent;
  padding: 6px 0;
  margin: 0 8px;
  cursor: pointer;
  transition: all .5s ease;
  outline: 0px solid transparent;
}

button:hover{
  /*border-bottom: 2px solid teal;*/
}

.loading{
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #111111;
}
/* ============================ AUTH FORM ANNA ============================ */
.login-page {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 0;
  background-image: url('https://nyc-wpengine.netdna-ssl.com/wp-content/uploads/2017/01/20140423_Es_bar-9571_ENF.tif.jpg');
  background-size: auto;
  overflow: scroll;
  background-position: center;
}
.background-color {
  padding-top: 2vh;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.62);
}

.auth-form {
  width: 78%;
  max-width: 400px;
  /*border-radius: 10px;*/
  background-color: #111111;
  color: white;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
}

.auth-form h2{
  font-weight: 300;
  font-size: 1.5em;
  margin: 10px 0;
}
.auth-form .logo {
  margin: 0 auto;
  justify-content: center;
  max-width: 200px;
  height: auto;
  margin-left: 3em;
}
.auth-form label {
  text-align: center;
}
.auth-form input {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  width: 80%;
  border-radius: 4px;
  padding: 12px 0;
  border: 0px solid transparent;
  margin-bottom: 1em;
}
.form-buttons {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.auth-form  button{
  justify-content: center;
  width: 100%;
  background-color: #252525;
  border: solid 2px #464646;
  color: #D11400;
  font-size: 1em;
  padding: 0.98em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all .5s ease;
  outline: 0px solid transparent;
  border-radius: 6px;
}

.auth-form  button:hover{
  border-bottom: 0px solid none;
}

/* ============================ SIDEBAR ============================ */
.bar-crawl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
}
.bar-crawl main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  flex-wrap: nowrap;
}
.bar-crawl .sidebar {
  margin-top: 11px;
  padding-top: 2%;
  margin-right: 2%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 25%;
  min-width: 250px;
  min-height: 300px;
  height: 100%;
  /*order: 1;*/
  justify-content: flex-start;
  align-self: flex-start;
  background-color: #343434;
}
.bar-crawl .sidebar li {
  list-style: none;
  text-align: left;
}
.bar-crawl .sidebar li a {
  color: #840d00;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

/* ============================ EVENTS PAGE ============================ */
.events-list ul {
  width: 70%;
  min-width: 500px;
}

.single-event {
  margin: 0 auto;
  padding: 0 100px;
  width: 60%;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.single-event .attendees img {
  min-height: 30px;
  max-height: 50px;
  min-width: 30px;
  max-width: 50px;
  border-radius: 50%;
}

.events-card {
  flex-direction: row;
  width: 25%%;
  padding: 0.5em;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.events-card li.events-item {
  /*display: flex;*/
  flex-direction: row;
  padding: 0.8em;
  margin-right: 0.4em;
  border: 4px solid #464646;
  border-radius: 8px;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 25%;
  min-width: 235px;
  min-height: 200px;
  text-align: left;
  background-color: #450700;
  color: white;

}
.events-card li.events-item h4 {
  /*float: right;*/
  justify-content: flex-end;
  padding-left: 55px;
  padding-bottom: 1em;

}
.events-card li.events-item img {
  max-width: 50px;
  max-height: 50px;
  height: auto;
  padding-right: 2%;
  padding-top: 1.05em;
  float: left;
  position: absolute;
  margin-right: 50px;

}
.events-card li.events-item:hover {
  background-color: #610a00;
}
.events-card li h4 {
  font-size: 20px;
}
.events-card li h4 a {
  color: #D11400;
  text-decoration: none;
  text-shadow: 1px 1px black;
}
/* ============================ SINGLE BAR VIEW ============================ */
.single-bar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  width: 60%;
  max-width: 900px;
  margin-top: 3%;
}
.single-bar .bar-info {
  width: 30%;
  min-width: 300px;
}
.single-bar .bar-info .bar-status{
  color: #D11400;
  text-shadow: 1px 1px black;
}
.map {
  margin-right: 4%;
  width: 30%;
  min-width: 400px;
  min-height: 400px;
  flex-direction: row;
}
.map img{
}
.map iframe {
  width: 400px;
  height: 500px;
}

/* ============================ SEARCH BAR VIEW ============================ */

.bar-search{
  margin-top: 40px;
  display: flex;
}
.search-form {
  flex-direction: row;
  width: 50%;
}
.location-search {
  height: 50px;
  flex-direction: row;

}
.location-search input {
  margin: 0 auto;
  text-align: left;
  width: 300px;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}
.search-results {
  height: 500px;
  flex-direction: column;
  height: 300px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.location-result,
.bar-result {
  margin: 0 auto;
  width: 300px;
  flex-direction: column;
}
.location-result {
  border: 1px solid black;
  background-color: white;
  margin: 0 25%;
  height: 30px;
  height: 36px;
  width: 300px;
}
.bar-result {
  padding-left: 10%;
  padding-right: 7%;
}

.foursquare-logo {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 200px;
}


.error {
  color:#840d00;
}
/* ============================ DELETE USER ============================ */
#list {
  margin: 0 auto;
  text-align: center;
}
#list div img {
  max-height: 80px;
  max-width: 80px;
  border-radius: 50%;
}

/* ============================ MEDIA SCREENS ============================ */

@media screen and (max-width: 480px) {
  h1, h2, h3, h4 {
    font-size: 12px;
  }
  .bar-crawl .sidebar {
    width: 100%;
    flex-direction: column;
    height: 100%;
    min-height: 250px;
    align-self: flex-end;
    justify-content: flex-end;
    bottom: 0;
    order: 2;
  }
  header {
    width: 100%;
    flex-direction: column;
    border-bottom: 4px solid black;
    min-height: 200px;
    height: 26%;
  }
  header nav{
    width: 100%;
    flex-direction: column;
  }
  header nav .logo {
    display: none;
  }
  header nav li {
    width: 100%;
    border-top: none;
    /*border-bottom: 1px solid black;*/
    border-bottom: none;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0.5em;
  }
  .bar-crawl,
  .bar-crawl main {
    margin: 0 auto;
    padding: 0px;
    display: block;
    width: 100%;
    flex-direction: column;
  }
  .events-list ul,
  .events-card,
  .single-event {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    flex-direction: column;
    min-width: 150px;
  }
  .events-list ul h1 {
    font-size: 1.5em;
  }
  .events-card li.events-item {
    font-size: 12px;
    width: 80%;
    min-width: 100px;
    min-height: 100px;
  }
  .map,
  .map iframe{
    min-width: 260px;
    min-height: 260px;
    width: 80%;
    height: 40%;
  }
  .single-bar {
    display: block;
    font-size: 12px;
    padding: 1em;
  }
}
@media screen and (max-width: 800px) {
  h1, h2, h3, h4 {
    font-size: 12px;
  }
  .bar-crawl .sidebar {
    width: 100%;
    flex-direction: column;
    height: 26%;
    min-height: 250px;
    align-self: flex-end;
    justify-content: flex-end;
    bottom: 0;
    order: 2;
  }
  header {
    margin: 0 auto;
    padding: 0px;
    display: block;
    width: 100%;
    flex-direction: column;
    border-bottom: 4px solid black;
    min-height: 200px;
    height: 26%;
  }
  header nav {
    width: 100%;
    flex-direction: column;
  }
  header nav .logo {
    display: none;
  }
  header nav li {
    width: 100%;
    border-top: none;
    /*border-bottom: 1px solid black;*/
    border-bottom: none;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0.5em;
    font-size: 0.8em;
  }
  .bar-crawl,
  .bar-crawl main {
    margin: 0 auto;
    padding: 0px;
    display: block;
    width: 100%;
    flex-direction: column;
  }
  .events-list ul,
  .events-card,
  .single-event {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    flex-direction: column;
    min-width: 150px;
  }
  .events-list ul h1 {
    font-size: 1em;
  }
  .events-card li.events-item {
    font-size: 12px;
    width: 80%;
    min-width: 100px;
    min-height: 100px;
  }
  .events-card li.events-item  img {
    width: 30px;
    height: 30px;
  }
  .events-card li.events-item h4 {
    font-size: 14px;
  }
  .map,
  .map iframe{
    min-width: 300px;
    min-height: 300px;
    width: 80%;
    height: 40%;
  }
  .single-bar {
    display: block;
    font-size: 12px;
    padding: 1em;
  }
}
